<div class="panel panel-default container py-4">
  <div class="panel-heading py-4">
    <h1>Requests</h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Email</th>
          <th>Subject</th>
          <th>Request</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <td>{{ employee.emailId }}</td>
          <td>{{ employee.subject }}</td>
          <td>{{ employee.request }}</td>
          <td>
            <button
              class="delete-button btn-danger"
              (click)="deleteEmployee(employee.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
